<ion-header>
  <ion-toolbar>
    <ion-title>{{ curso?.nombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Atras
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>{{ curso?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ curso?.descripcion }}</p>
      <ion-button [routerLink]="['/clases-curso/' + curso?.id]">Ver Clases del Curso</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<div class="navbar">
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button [routerLink]="['/dashboard-profe']" tab="schedule">
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button class="cerrar" [routerLink]="['/']" tab="about">
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
