
#centrar {
  text-align: center;
  margin-top: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
}


.qr-clases {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

ion-content {
  --background: white !important;
}

ion-toolbar {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white;
}
h4.texto-bienvenida {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
}


ion-label, ion-fab-button {
  margin: 0 1rem;
  border-radius: 0.5rem; /* Opcional: para redondear los bordes */
}


ion-label, ion-fab-button {
  color: white;
  margin: 0 1rem;
}

ion-fab-button {
  --background: white; 
  --color: #7200ff;
}

.custom-tab-bar {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff ; 
  --color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
}

ion-card {
  margin: auto;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

