.contenedor-profesores {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white;
}



ion-button.btn-detalle {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}



ion-content {
  --background: #f9f9f9 !important;
  padding: 1rem;
}



ion-label, ion-fab-button {
  margin: 0 1rem;
  border-radius: 0.5rem;
}


.lista-de-clases {
  font-family: 'Nunito', sans-serif;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


ion-card {
  font-family: 'Nunito', sans-serif;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.lista-clase {
  font-family: 'Nunito', sans-serif;
  margin-top: 1rem;
  background-color: white;
  padding: 0; 
}
.lista-clase .item-clase:last-child {
  font-family: 'Nunito', sans-serif;
  border-bottom: none;
}

.item-clase{
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc; 
  padding: 1rem; 
}


.lbl-clase {
  font-family: 'Nunito', sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nombre-clase {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.descripcion-clase {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #555;
}


.no-courses-item {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.no-courses-label {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  color: #888;
  padding: 1rem;
}


.boton-clases {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white; 
  border-radius: 15px;
  font-size: 20px;
  max-width: 200px;
  margin-left: 15px;
  color: white; 
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
  margin-bottom: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.lista-clases{
  margin-top: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.qr-clases {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.boton-deseleccionar {
  --background: #7200ff;
  color: rgb(12, 2, 2);
  margin-left: 50%;
  transform: translateX(-50%);
}

ion-content {
  --background: white !important;
}

ion-toolbar {
  --background: #7200ff;
  --color: white;
}
h4.texto-bienvenida {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
}


ion-label, ion-fab-button {
  margin: 0 1rem;
  border-radius: 0.5rem; 
}

.lista-de-clases {
  --background: white;
  background-color: white;
}

.boton-clase {
  --background: #7200ff;
  --color: white;
  border-radius: 15px;
  font-size: 20px;
  max-width: 200px;
  margin-left: 15px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

ion-label, ion-fab-button {
  margin: 0 1rem;
}

ion-fab-button {
  --background: white; 
  --color: white;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
  background-color: #7200ff;
  color: white; 
}


ion-content {
  padding-bottom: 60px; 
}


.navbar {
  --background: #7200ff;
  position: sticky;
  bottom: 0;
  z-index: 9999;
}

.custom-tab-bar {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff ; 
  --color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
}


ion-card {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

ion-list {
  --background: white;
  border: 1px solid #ccc;  
  padding: 0;
}

ion-list ion-item {
  --background: white;
  border-bottom: 1px solid #ccc; 
  padding: 1rem;
}

ion-list ion-item:last-child {
  border-bottom: none; 
}
