<ion-header [translucent]="true">
  <ion-toolbar class="contenedor-profesores">
    <ion-title slot="start" class="profesores">Match</ion-title>
    <ion-title slot="end" class="profesores">Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div class="header-container">
  </div>

  <ion-list class="lista-clase" lines="none" *ngIf="cursos && cursos.length > 0; else noCourses">
    <ion-item *ngFor="let curso of cursos" class="item-clase">

      <ion-label class="lbl-clase">
        <h2 class="nombre-clase">{{ curso.nombre }}</h2>
        <p class="descripcion-clase">{{ curso.descripcion }}</p>
      </ion-label>
      <ion-button class="btn-detalle" (click)="verDetalleCurso(curso.id)" expand="block" shape="round">
       Informacion
      </ion-button>
    </ion-item>
  </ion-list>
  
  <ng-template #noCourses>
    <ion-item class="no-courses-item">
      <ion-label class="no-courses-label">Empty</ion-label>
    </ion-item>
  </ng-template>

  <div class="navbar">
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button [routerLink]="['/dashboard-profe']" tab="schedule">
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button class="cerrar" [routerLink]="['/']" tab="about">
        <ion-label>Cerrar Sesion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>