// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


/**
  *Barcode Scanning
  *
  */

body.barcode-scanning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

.barcode-scanning-modal{
    visibility: visible;
}
@media (prefers-color-scheme: dark){
    .barcode-scanning-active{
        visibility: hidden;
        --background: transparent;
        --ion-background-color: transparent;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');