<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-item>
      <ion-item button color="primary" (click)="logout()">Cerrar Sesión</ion-item>
    </ion-item>
    
  </ion-item>

  <h4 id="centrar">Bienvenido {{ username }}</h4>
  
  

  
</ion-content>
