<ion-header [translucent]="true">
  <!-- <ion-toolbar>
  
    </ion-toolbar> -->
</ion-header>

<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons>
      <ion-button>
        <span>MATCH</span>
      </ion-button>
      <ion-button>
        <span>Beneficios</span>
      </ion-button>
      <ion-button>
        <span>Ayuda</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>



  <div id="container">
    <div id="saludo">
      Bienvenido Docente {{ userData.nombre_completo }} !
    </div>
  </div>
  <ion-content class="ion-padding">
    <div class="form-wrapper">
      <form #cursoForm="ngForm" (ngSubmit)="onSubmit(cursoForm)" class="form-container">
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="curso.nombre" name="nombre" required></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="barcode-outline"></ion-icon>
            <ion-label position="floating">Sigla</ion-label>
            <ion-input [(ngModel)]="curso.sigla" name="sigla" required></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label position="floating">Institución</ion-label>
            <ion-input [(ngModel)]="curso.institucion" name="institucion" required></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea [(ngModel)]="curso.descripcion" name="descripcion" required></ion-textarea>
          </ion-item>
        </ion-list>
  

        
        <ion-button expand="block" color="primary" type="submit" [disabled]="!cursoForm.form.valid" class="submit-button">
          Guardar
        </ion-button>
      </form>
      <div class="button-container" >
        <div id="btn-programacion" (click)="showQRCode()">Base de datos</div>
      </div>
    
      <div class="qr-code-container" *ngIf="qrCodeVisible">
        <qr-code value="Estas presente en tu clase de base de datos" size="300" errorCorrectionLevel="M"></qr-code>
      </div>
    </div>
    
  </ion-content>
  
  


  <div class="navbar">
    <div button id="btn-cerrar" (click)="logout()">Cerrar Sesión</div>
  </div>

</ion-content>