@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Regular.ttf');
}


ion-content {
  --background: #ffffff;

}

ion-button {
  --background: #7200ff;
  --color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding: 15%;
}



ion-toolbar {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white;
}
.estudiantes {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

#contenido1 {
  font-family: 'Nunito', sans-serif;
  --color: white;
  width: 80%;
  margin-top: 50px ;
  align-items: center;
}
.botones {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  padding: 0 1rem;
}

ion-label, ion-fab-button {
  font-family: 'Nunito', sans-serif;
  color: #ffffff; 
}

ion-fab-button {
  font-family: 'Nunito', sans-serif;
  --background: white; 
}

.custom-tab-bar {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff; 
  --color: white;
}

ion-card {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
