.contenedor-profesores {
  font-family: 'Nunito', sans-serif;
  --background: #7200ff;
  --color: white;
}

.custom-tab-bar{
  --background: #7200ff;
  --color: white;
}

#centrar {
text-align: center;
margin-top: 4rem;
margin-left: 50%;
transform: translateX(-50%);
}

.boton-clases {
--background: #7200ff;
--color: white; 
border-radius: 15px;
font-size: 20px;
max-width: 200px;
margin-left: 15px;
color: white; 
display: flex;
justify-content: center; 
margin-top: 2rem;
margin-bottom: .5rem;
margin-left: 50%;
transform: translateX(-50%);
}

.lista-clases{
margin-top: .5rem;
margin-left: 50%;
transform: translateX(-50%);
}

.qr-clases {
margin-top: .5rem;
display: flex;
justify-content: center;
margin-bottom: .5rem;
}

.boton-deseleccionar {
--background: #7200ff;
color: rgb(12, 2, 2);
margin-left: 50%;
transform: translateX(-50%);
}

ion-content {
--background: white !important;
}

ion-toolbar {
--background: #7200ff;
--color: white;
}
h4.texto-bienvenida {
background-color: white;
color: black;
text-align: center;
padding: 1rem;
}




.lista-de-clases {
--background: white;
background-color: white;
}

.boton-clase {
--background: #7200ff;
--color: white;
border-radius: 15px;
font-size: 20px;
max-width: 200px;
margin-left: 15px;
color: white;
display: flex;
justify-content: center;
margin-top: 1rem;
margin-bottom: .5rem;
margin-left: 50%;
transform: translateX(-50%);
text-align: left;
}

ion-label, ion-fab-button {
  color: white; 
margin: 0 1rem;

}


ion-card {
margin: auto;
width: 100%;
max-width: 400px;
height: 100%;
border-radius: 20px;
box-shadow: 0 4px 20px rgba(0, 0, 0 ); 
}


ion-button.submit-button {
  font-family: 'Nunito', sans-serif;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  --background: #7200ff; 
  --color: rgb(255, 255, 255); 
}

ion-list {
  border-radius: 0.5rem;
  background-color: #7200ff;
}

ion-list ion-item {
  --background: #7200ff;
  --color: $secondary-color;
  border-radius: 0.5rem;
}

ion-list ion-item ion-label,
ion-list ion-item ion-input,
ion-list ion-item ion-textarea,
ion-list ion-item ion-icon {
  color: white;
  
}

.formulario-w {
  border-radius: 4rem;
  padding: 1rem; 
  margin-top: 2rem; 
}

ion-content.ion-no-padding {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}