ion-content {
  --background: white; /* blanco */
}


#container {
  background-color: #7200ff;
  text-align: center;
  margin: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;

}

#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#btn-iniciar {
  margin-top: 1rem;
  width: 7rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

#botones-login{
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

#recuperarPas{
  
  text-decoration: none;
}

#recuperarPass:hover{
  text-decoration: underline; 
}

.custom-toolbar {
  --background: #7200ff; 
  border-radius: 30px; 
  justify-content: center;
  align-items: center;
}

.ion-item {

  background-color: #7200ff;
}

ion-button {
  --background: transparent;
  --color: white; 
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  padding: 0 15px; 
}

ion-toolbar {
  padding: 0 50px;
}

ion-buttons {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}

ion-icon {
  margin-left: 5px; 
}