<link rel="stylesheet" href="home.page.scss">

<ion-header [translucent]="true">

</ion-header>

<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons>
      <ion-button>
        <span>MATCH</span>
      </ion-button>
      <ion-button>
        <span>Beneficios</span>
      </ion-button>
      <ion-button>
        <span>Ayuda</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>


  <ion-content>
    <div id="container">
      <ion-list lines="none">

        <ion-item>
          <ion-input
            [(ngModel)]="usuario"
            label="Usuario"
            type="text"
            labelPlacement="floating"

          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            label="Password"
            type="password"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>

        <ion-button
          id="btn-iniciar"
          expand="block"
          (click)="login()"
          [disabled]="!usuario || !password"
        >
          INGRESAR
        </ion-button>
  

        <ion-item id="botones-login" lines="none">
          <ion-label (click)="goToRecuperar()" id="recuperarPass" color="primary">
            Recuperar contraseña
          </ion-label>
        </ion-item>
        <ion-item id="botones-login" lines="none">
          <ion-label (click)="goToRegister()" id="register" color="primary">
            ¿No tienes una cuenta? Regístrate
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>