@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

ion-content {
  --background: white; /* blanco */
}


#container {
  --background: #7200ff;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

#btn-iniciar{
padding-top: 10%;

}

#recuperarPass {
  font-family: 'Nunito', sans-serif;
  color: white; 
  text-align: center;
  cursor: pointer; 
}

#register {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color:white; 
  cursor: pointer; 
}

#btn-iniciar {
  --background: white;
  --color: #7200ff;

}
.custom-toolbar {
  --font-family: 'Nunito', sans-serif;
  --background: #7200ff; 
  border-radius: 30px; 
  justify-content: center;
  align-items: center;
}
ion-list {
  font-family: 'Nunito', sans-serif;
  width: 80%;
  background-color: #7200ff; 
  border-radius: 10px; 
}
ion-item {
  --background: transparent; 
  color: white; 
}
ion-input {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  --background: transparent;
  color: white; 
}

ion-button {
  font-family: 'Nunito', sans-serif;
  text-transform: none;
  font-size: 16px;
  padding: 0 15px; 
}

ion-toolbar {
  padding: 0 50px;
}

ion-buttons {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}

ion-icon {
  margin-left: 5px; 
}
