@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');


ion-content {

  --background: white;
}

#container {
    --background: #7200ff;
    background: none;
    justify-content: center; 
    align-items: center; 
    height: 60%;
    padding: 30px; 
    border-radius: 50px; 

  }
#btn-register{
font-family: 'Nunito', sans-serif;
    padding-top: 10%;
  --background: white;
  --color: #7200ff;
}

#btn-volver{
  font-family: 'Nunito', sans-serif;
text-align: center;
color: white;

}

.custom-toolbar {
    --font-family: 'Nunito', sans-serif;
    --background: #7200ff; 
    border-radius: 30px; 
    justify-content: center;
    align-items: center;
  }

  ion-button {
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    font-size: 16px;
    padding: 0 15px; 
  }
  ion-toolbar {
    padding: 0 50px;
  }
  
  ion-buttons {
    display: flex;
    justify-content: space-around; 
    width: 100%;
  }
  
  ion-icon {
    margin-left: 5px; 
  }

  ion-item {
    --background: transparent; 
    color: white; 
  }
  ion-input {
    font-family: 'Nunito', sans-serif;
    --background: transparent;
    color: white; 
  }

  ion-list {
    font-family: 'Nunito', sans-serif;
    background-color: #7200ff; 
    border-radius: 10px; 
  }